body {
  background-color: #383636;
  color: #fff;
}
svg text {
  fill: #fff;
}
#map {
  width: 1250px;
  height: 500px;
  margin: 0;
  padding: 0;
}
.ctn-filter {
  width: 1100px;
}
.filter {
  margin-left: 20px;
}
#DeathMonth,
#AcciMonth {
  width: 330px;
}
.ctn-nav {
  box-shadow: 0 0 17px 2px rgb(0, 0, 0);
  position: fixed;
  right: 80px;
  top: 30px;
  z-index: 3;
  opacity: 0.9;
  height: 230px;
  width: 300px;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
}
.navttl,
.navidx {
  text-align: center;
}
